@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.navbarWrapper {
  position: sticky;
  top: 0;
  z-index: 20;
}
.navbarWrapper {
  --tw-bg-opacity: 1;
  background-color: rgba(23, 22, 36, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(229, 230, 232, var(--tw-text-opacity));
  width: 100%;
  position: relative;
  --tw-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.navbar {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none;
  padding: 0.5rem 1rem;
  --tw-bg-opacity: 1;
  background-color: rgba(250, 248, 248, var(--tw-bg-opacity));
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: rgba(0, 0, 0, var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-bottom-color: rgba(0, 0, 0, var(--tw-border-opacity));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navUlItems {
  --tw-text-opacity: 1;
  color: rgba(229, 230, 232, var(--tw-text-opacity));
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-grow: 1;
  list-style: none;
}
.navLi {
  --tw-text-opacity: 1;
  color: rgba(229, 230, 232, var(--tw-text-opacity));
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.navLi a {
  --tw-text-opacity: 1;
  color: rgba(27, 27, 27, var(--tw-text-opacity));
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-right: 1rem;
  padding: 0;
  margin-left: 0;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.navLi a:hover,
.navLi a:focus {
  --tw-text-opacity: 1;
  color: rgba(255, 103, 0, var(--tw-text-opacity));
}
.navliActive {
  --tw-text-opacity: 1;
  color: rgba(255, 103, 0, var(--tw-text-opacity));
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-right: 1rem;
  padding: 0;
  margin-left: 0;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.starItem {
  display: flex;
  align-items: center;
}
.starDiv {
  display: flex;
  margin-right: 1rem;
  width: 1rem;
}
.navBtns {
  display: flex;
  align-items: center;
}
.btnsWrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-right: 1.5rem;
  margin-left: 1rem;
  height: 2.25rem;
}
.LoginBtn {
  font-size: 0.875rem;
  --tw-text-opacity: 1;
  color: rgba(86, 23, 134, var(--tw-text-opacity));
  text-transform: uppercase;
  margin-right: 1rem;
  display: inline;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 1rem;
  margin-left: 0.5rem;
  white-space: nowrap;
}
.SignupBtn {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.375rem;
  border-width: 2px;
  text-align: center;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  --tw-shadow: 0.4375rem 0.4375rem 0 #221f20;
  --tw-bg-opacity: 1;
  background-color: rgba(86, 23, 134, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(34, 31, 32, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(248, 248, 254, var(--tw-text-opacity));
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 0.5rem;
  padding: 1rem 2rem;
  white-space: nowrap;
  box-shadow: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
}
.SignupBtn:focus,
.SignupBtn:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(123, 52, 177, var(--tw-bg-opacity));
}
